.section {
    background: #f6f6f6;
    padding-bottom: 40px;
    position: relative;
    &_firstLine {
        font-size: 12px;
    }
    &_left {
        width: 90px;
        height: 90px;
        position: absolute;
        top: 0;
        right: 0;
        &--red {
            width: 90px;
            height: 52px;
            background: #ff244a;
            color: #fff;
            font-size: 15px;
            padding-top: 5px;
            & p {
                height: 22px;
                line-height: 22px;
                text-align: center;
            }
        }
        &--yellow {
            width: 90px;
            height: 33px;
            background: #fff500;
            color: #ff244a;
            font-size: 15px;
            & p {
                height: 33px;
                line-height: 33px;
                text-align: center;
            }
        }
    }
    &_box {
        width: 300px;
        border: 1px solid #dddddd;
        position: relative;
        float: left;
        margin: 10px 0 0 10px;
        display: inline-block;
        & img {
            width: 300px;
            height: 300px;
            vertical-align: top;
        }
    }
    &_intr {
        padding: 0 15px;
        & span {
            color: #333333;
            font-size: 12px;
            float: left;
            &:last-of-type {
                color: #666666;
                float: right;
            }
        }
    }
    &_prise {
        padding: 0 15px 5px 15px;
        border-bottom: 1px solid #ededed;
    }
    &_afterPrise {
        width: 43px;
        height: 15px;
        color: #fff;
        font-size: 12px;
        background: #ed3434;
        text-align: center;
        margin-top: 8px;
        position: relative;
        &--three {
            border: 3px solid transparent;
            border-right: 3px solid #ed3434;
            position: absolute;
            left: -3px;
            bottom: -3px;
            transform: rotate(45deg)
        }
    }
    &_bottom {
        position: relative;
    }
}

.redPrice {
    margin-right: 10px;
    position: relative;
    & span:first-of-type {
        color: #ed3434;
        font-size: 20px;
        float: left;
        padding-top: 14px;
    }
    & span:last-of-type {
        color: #ed3434;
        font-size: 40px;
        line-height: 38px;
        float: left;
        z-index: 10;
    }
    &_line1 {
        width: 150px;
        height: 18px;
        background: rgba($color: #000000, $alpha: 0.6);
        position: absolute;
        margin-bottom: 10px;
        color: #fff;
        font-size: 12px;
        top: 0;
        left: 50px;
        padding-left: 10px;
        z-index: 5;
        display: none;
    }
    &_line2 {
        width: 100px;
        height: 18px;
        position: absolute;
        background: rgba($color: #000000, $alpha: 0.6);
        color: #fff;
        font-size: 12px;
        top: 20px;
        left: 100px;
        padding-left: 10px;
        z-index: 5;
        display: none;
    }
    &_three {
        border: 5px solid transparent;
        border-right: 5px solid rgba($color: #000000, $alpha: 0.6);
        position: absolute;
        left: -10px;
        top: 4px;
    }
}

.grayPrice {
    & span:first-child {
        display: block;
        width: 28px;
        height: 15px;
        line-height: 15px;
        background: #ffc479;
        color: #fff;
        font-size: 12px;
    }
    & span:last-of-type {
        color: #999999;
        font-size: 12px;
    }
}

.redTxt {
    font-size: 16px;
    color: red;
}

#taobao {
    width: 15px;
    height: 15px;
    vertical-align: top;
    position: absolute;
    right: 0;
    bottom: 0
}

.gobuy {
    width: 65px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    color: #fff;
    background: #ed3434;
    font-size: 15px;
    position: absolute;
    right: 0;
    display: block;
    bottom: 6px;
    display: none;
}

.similay {
    width: 50px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    background: #ffa23e;
    margin: 5px 10px;
    display: block;
    float: right;
    display: none;
    position: relative;
    top: 0px;
    right: 8px;
}

.li_hover {
    border: 1px solid #ff244a;
    border-bottom: 1px solid #ededed;
    z-index: 9;
    & .tempDiv {
        width: 300px;
        height: 30px;
        position: absolute;
        top: 385px;
        left: -1px;
        background: #fff;
        border: 1px solid #ff244a;
        border-top: none;
        z-index: 9;
    }
}

.section ul {
    display: none;
}

.section .shouye {
    display: block;
}