.formDiv {
    width: 360px;
    border: 1px solid #dddddd;
    box-shadow: 5px 5px 5px #dddddd;
    margin: 100px;
    padding: 20px 10px;
}

.saoma {
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    float: left;
    text-align: center;
}

.current {
    background: #dddddd;
    border-bottom: 1px solid #dddddd;
}

.zhanhao {
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    text-align: center;
    float: right;
}

.login1 {
    width: 320px;
    overflow: hidden;
    margin: auto;
    padding-top: 10px;
    background: #dddddd;
}

.login1 .ewm {
    width: 200px;
    height: 200px;
    display: block;
    margin: 20px auto;
}

.login2 {
    // width: 320px;
    display: none;
}

.sao {
    width: 200px;
    height: 25px;
    line-height: 25px;
    margin: auto;
    & img {
        width: 25px;
        height: 25px;
        vertical-align: top;
        margin-left: 20px;
        margin-right: 20px;
    }
}

form {
    width: 320px;
    overflow: hidden;
    margin: auto;
    padding-top: 10px;
    background: #dddddd;
    & p {
        margin: 5px 0;
        padding: 0 20px;
        & .txt {
            width: 80px;
            height: 30px;
            display: inline-block;
        }
        & input {
            width: 195px;
            height: 30px;
            font-size: 20px;
        }
        & #Txtidcode {
            width: 100px;
            height: 30px;
        }
        & input[type=checkBox] {
            width: 10px;
            height: 10px;
        }
        & a {
            text-decoration: underline;
            margin-left: 20px;
        }
    }
}

.disabled {
    width: 320px;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    color: #fff;
    border: none;
    outline: none;
    background: #ff8400;
    text-align: center;
    margin-top: 20px;
}